body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #333; /* Couleur de fond */
  }
  
  #inventory-container {
    width: 80%;
    margin: auto;
    color: white; /* La couleur du texte */
  }
  
  .search-bar input {
    position: relative;
    flex: 1;
    padding: 5px 10px;
    background: transparent;
    border: none;
    color: white;
    left: 31px;
    z-index: 2;
  }
  
  .item {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
  }
  
  .user-info, .user-wallet {
    margin-top: 20px;
  }

  .rectangle {
    position: relative;
    left: 0em;
    top: 2em;
    border-radius: 20px;
    padding: 0px;
    width: 318px;
    z-index: 3;
  }
  
  .search-area {
    display: flex;
    position: relative;
    align-items: center;
    background-color: rgb(80, 30, 30);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    top: 79px;
    left: 529px;
  }
  
  .search-area input {
    flex: 1;
    padding: 5px 10px;
    background: transparent;
    border: none;
    color: white; /* Texte en blanc */
  }
  
  .search-area input::placeholder {
    color: white; /* Couleur du placeholder en blanc */
  }
  
  .search-area .fa-magnifying-glass {
    position: fixed;
    color: white;
    margin-left: 16em;
  }
  
  /* Assurez-vous que les éléments input n'ont pas de bordure lorsqu'ils sont focus */
  .search-area input:focus {
    outline: none;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: #333; /* Ou une autre couleur de fond selon votre design */
    padding: 5px;
    border-radius: 20px; /* Grand border-radius comme vous l'avez demandé */
  }
  
  .search-input {
    flex-grow: 1;
    padding: 5px 10px;
    border: none;
    background-color: #222; /* Ou une autre couleur de fond pour la barre de recherche */
    color: white;
    margin-right: 10px; /* Ajouter un peu d'espace entre la barre de recherche et les icônes de filtre */
  }
  
  .search-input::placeholder {
    color: white;
  }
  
  .filter-icons i {
    color: white; /* Couleur des icônes */
    margin-left: 10px; /* Espace entre les icônes */
    cursor: pointer; /* Change le curseur au survol des icônes */
  }
  
  /* Vous pouvez ajouter des styles supplémentaires pour les icônes lors du survol */
  .filter-icons i:hover {
    color: #aaa; /* Changez la couleur lors du survol */
  }
  
  .filter-icons {
    position: relative;
    left: 55em;
    top: 35px;
  }
  

  .inventory-container {
    position: relative;
    max-width: 600px;
    height: 621px;
    background: rgba(49, 42, 41, 0.664); /* S'assurer que cette couleur est visible sur votre fond */
    overflow-y: auto;
    border-radius: 12px;
    left: 32em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
    padding: 7px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    color: white;
    z-index: 1;
  }

  .inventory-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 colonnes par exemple */
    grid-gap: 15px; /* Espace entre les cases */
    margin: 15px; /* Espace autour de la grille */
  }
  
  .inventory-slot {
    position: relative;
    background: rgb(136, 33, 33);
    background: linear-gradient(0deg, rgba(175, 12, 12, 0.26) -30%, rgba(0,0,0,1) 160%);   border-radius: 20px;
    padding: 64px;
    height: 6px;
    top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: -5px 4px 7px rgb(196, 129, 67);
  }
  
  /* Style personnalisé pour l'ascenseur indépendant */
  .inventory-container::-webkit-scrollbar {
    width: 12px;
  }
  
  .inventory-container::-webkit-scrollbar-track {
    background: #2e2e2e; /* Couleur de fond */
  }
  
  .inventory-container::-webkit-scrollbar-thumb {
    background-color: #882121; /* Couleur de l'ascenseur */
    border-radius: 6px;
    border: 3px solid #2e2e2e; /* Bordure autour de l'ascenseur */
  }


  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #2e2e2e;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #882121;
    border-radius: 6px;
    border: 3px solid #2e2e2e;
  }

  .item {
    background: #4b6584; /* Couleur de fond de l'élément */
    border: 2px solid #d1d8e0; /* Bordure de l'élément */
    border-radius: 10px; /* Coins arrondis de l'élément */
    padding: 10px; /* Espace intérieur de l'élément */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slot-count {
    position: fixed;
    /* background-color: #555; */
    border-radius: 20px;
    color: white;
    /* max-width: 37px; */
    font-weight: bold;
    text-align: center;
    margin-top: 48px;
    margin-left: 33em;
  }


  .filter-icons i {
    color: white; /* Couleur initiale des icônes */
    margin-left: 10px; /* Espace entre les icônes */
    cursor: pointer; /* Indique un élément cliquable */
    transition: color 0.3s; /* Transition pour un changement de couleur en douceur */
  }

  .filter-icons i:hover {
    color: #FFA500; /* Couleur jaune orangé lorsque le curseur survole les icônes */
  }